/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.94;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  height: 230px;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center;
}

.header-box {
  padding-top: 46px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header-box {
    padding-top: 41px;
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 767px) {
  .header-home {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-phone.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-phone.png");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-phone@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-phone@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .header-home {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-tab.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-tab.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-tab@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-tab@2x.png");
  }
}

@media screen and (min-width: 1024px) {
  .header-home {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-pc.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-pc.png");
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-pc@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-pc@2x.png");
  }
}

@media screen and (max-width: 767px) {
  .header-library {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-phone.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-phone.png");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-phone@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-phone@2x.png");
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .header-library {
    width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-tab.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-tab.png");
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-tab@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-tab@2x.png");
  }
}

@media screen and (max-width: 767px) and (min-width: 1024px) {
  .header-library {
    width: 1280px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-pc.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-pc.png");
  }
}

@media screen and (max-width: 767px) and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-width: 1024px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/header-pc@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-pc@2x.png");
  }
}

.header-home .library-menu,
.header-library .search-form {
  display: none;
}

.active-page::after,
.active-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -3px;
  background-color: #FF6B08;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo__img {
  display: block;
}

.logo__title {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: white;
}

@media screen and (min-width: 768px) {
  .logo__title {
    display: block;
    margin-left: 10px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.menu__button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-form {
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 64px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .search-form {
    width: 336px;
    margin-top: 41px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .search-form {
    margin-bottom: 37px;
  }
}

.search-form__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  caret-color: #FFFFFF;
  border-bottom: 0.5px solid #FFFFFF;
  background-color: inherit;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.search-form__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search-form__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.search-form__input::-ms-input-placeholder {
  color: #FFFFFF;
}

.search-form__input::placeholder {
  color: #FFFFFF;
}

.search-form__button {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 6px;
  right: 1px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.search-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-form__input:focus::-ms-input-placeholder {
  color: transparent;
}

.search-form__input:focus::placeholder {
  color: transparent;
}

.search-form__button .button__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.library-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 29px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .library-menu {
    display: block;
    margin-top: 45px;
    margin-bottom: 13px;
  }
}

.button {
  width: 129.53px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    width: 136px;
  }
}

.button:hover,
.button :focus {
  border: 1px solid 0px 8px 43px rgba(255, 107, 1, 0.6);
  background: #FF6B08;
  -webkit-box-shadow: #f7f7f7;
          box-shadow: #f7f7f7;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button:not(:last-child) {
    margin-right: 15px;
  }
}

.button__active {
  border: 1px solid 0px 8px 43px rgba(255, 107, 1, 0.6);
  background: #FF6B08;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.gallery {
  background: #ffffff;
}

.list_films {
  background: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .list_films {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .list_films {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .list_films {
    padding-top: 30px;
  }
}

.movies {
  width: 309px;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .movies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .movies {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movies {
    background-color: #fff;
    margin-right: 15px;
  }
  .movies:nth-child(3n + 0) {
    margin-right: 0;
  }
}

.movies__img {
  width: 309px;
  height: 449px;
  border-radius: 5px;
}

.movies__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.movies__genre {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B01;
}

.movies__year {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B01;
}

.movies__rating {
  padding: 1px 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffff;
  background-color: #FF6B01;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__back {
  background-image: url("../images/arrow-rigth.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: #F7F7F7;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pagination_button {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.pagination_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current {
  background-color: #FF6B08;
  color: white;
  border-radius: 5px;
}

.pagination__next {
  border: 0;
  background-image: url("../images/arrow-left.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.icon {
  fill: #000000;
}

.modal {
  padding: 8px 8px 40px 20px;
  background-color: #fff;
  width: 87.5vw;
  max-width: 420px;
  font-size: 12px;
  line-height: 1.33em;
}

@media screen and (max-width: 767px) {
  .modal {
    overflow: scroll;
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 768px;
    padding-left: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    padding-left: 16px;
    max-width: 814px;
  }
}

.modal__icon {
  display: block;
  margin-left: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
  stroke: black;
}

.modal__icon:hover, .modal__icon:focus {
  stroke: #FF6B01;
}

.modal__img {
  max-width: 320px;
  width: 75vw;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .modal__img {
    max-width: 300;
  }
}

@media screen and (min-width: 1024px) {
  .modal__img {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .modal__data-wrapper {
    max-width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__data-wrapper {
    max-width: 391px;
  }
}

.modal__wrapper {
  text-align: center;
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  .modal__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__wrapper {
    padding-right: 8px;
  }
}

.modal > div {
  text-align: left;
}

.modal__name {
  font-size: 20px;
  line-height: 1.15em;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal__name {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .modal__name {
    font-size: 30px;
  }
}

.modal__info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1024px) {
  .modal__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.modal__keys {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (min-width: 1024px) {
  .modal__keys {
    margin-right: 86px;
  }
}

.modal__key {
  color: #8C8C8C;
}

.modal__value > span:first-child {
  background: #FF6B01;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal__value > span:last-child {
  color: black;
  background: #F7F7F7;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal__value:nth-child(2), .modal__value:first-child {
  line-height: 1.16em;
}

.modal__value:nth-child(3), .modal__value:last-child {
  line-height: 1.33em;
}

.modal__value:nth-child(3) {
  text-transform: uppercase;
}

.modal__descr {
  margin: 20px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .modal__descr {
    line-height: 1.66em;
  }
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.33em;
}

@media screen and (min-width: 1024px) {
  .modal__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  width: 110px;
  height: 44px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__button:hover, .modal__button:focus {
  background-color: #FF6B01;
  border-color: #FF6B01;
  color: white;
}

@media screen and (min-width: 768px) {
  .modal__button {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__button {
    margin-right: 16px;
    width: 136px;
  }
}

.modal__button--trailer {
  margin-bottom: 32px;
}

.butttonActiveState {
  background-color: #FF6B01;
  border-color: #FF6B01;
  color: white;
}

.sorry-text {
  color: #fff;
  font-size: 50px;
}

.footer {
  width: 100%;
  background: #f7f7f7;
}

.footer__container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .footer__container {
    height: 77px;
    padding-top: 30px;
    padding-bottom: 28px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__button {
  padding: 0;
  border: 0px;
  background-color: #f7f7f7;
  color: #545454;
  cursor: pointer;
  border-bottom: 1px solid #545454;
}

.footer__button:focus, .footer__button:hover {
  color: #FF6B08;
  border-bottom: 1px solid 0px 8px 43px rgba(255, 107, 1, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-right: 3px;
    margin-bottom: 0;
  }
}

.footer__developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer__developed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__heart-icon {
  margin: 0 10px 0 10px;
  width: 14px;
  height: 12.75px;
}

@media screen and (min-width: 768px) {
  .footer__heart-icon {
    width: 14px;
    height: 12.88px;
  }
}

.buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons__container--header {
  position: relative;
  bottom: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.buttons__container--header.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-header {
  cursor: pointer;
  text-transform: uppercase;
  height: 46px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  color: #000000;
  border: 1px solid #000000;
  width: 130px;
}

@media screen and (min-width: 1024px) {
  .btn-header {
    width: 152px;
  }
}

.off {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.on {
  background-color: #ff6b08;
  color: #ffffff;
  border: none;
}

.btn-header:first-child {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .myLib {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-phone.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-phone.png");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .myLib {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-phone@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-phone@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .myLib {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-tab.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-tab.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .myLib {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-tab@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-tab@2x.png");
  }
}

@media screen and (min-width: 1024px) {
  .myLib {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-pc.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-pc.png");
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .myLib {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url("../images/lib-header-pc@2x.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/lib-header-pc@2x.png");
  }
}

.js-log-out-btn:hover {
  color: #ff6b08;
}

.js-log-in-btn:hover {
  color: #ff6b08;
}
/*# sourceMappingURL=main.css.map */