@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin less-tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin less-desk {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
