body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.94;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
