html {
  --bg: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--bg);
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.94;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

$accent-color: #ff6b08;
$header-text: #ffffff;
$main-text: #000000;
$footer-text: #545454;
$error-text: #ff001b;
$footer-bg: #f7f7f7;
$shadow-btn: (0px 8px 43px rgba(255, 107, 1, 0.6));
$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
