<section class="gallery">
    <div class="container">
        <ul class="list_films"></ul>
        <form class="pagination">
            <button class="visually-hidden pagination__back back" type="button"></button>
            <button class="pagination_first visually-hidden pagination_button"></button>
            <p class="pagination_text visually-hidden">...</p>
            <ul class="pagination__list"></ul>
            <p class="pagination_text visually-hidden">...</p>
            <button class="pagination_last visually-hidden pagination_button"></button>
            <button class="visually-hidden pagination__next next" type="button"></button>
        </form>
    </div>
</section>