<section class="gallery">
  <div class="container">
    <p class="gallery-info"></p>
    <ul class="list_films"></ul>

    <form class="pagination">
      <button class="visually-hidden pagination__back back pagVisualHidden" type="button"></button>
      <button class="pagination_first visually-hidden pagVisualHidden pagination_button"></button>
      <p class="pagination_text firstPoint visually-hidden">...</p>
      <ul class="pagination__list"></ul>
      <p class="pagination_text visually-hidden pagVisualHidden">...</p>
      <button class="pagination_last visually-hidden pagination_button pagVisualHidden"></button>
      <button class="visually-hidden pagination__next next pagVisualHidden" type="button"></button>
    </form>
  </div>
</section>
