
.modal{
    padding: 8px 8px 40px 20px ;
    background-color: #fff;
    &__icon{
        padding-top: -20px;
        display: block;
        margin-left: auto;
        height: 30px;
        width: 30px;
        cursor: pointer;
        stroke: black;
    }
    &__img{
        width: 240px;      
        border-radius: 5px;  
    }
    &__wrapper{
        padding-right: 12px;
    }
}