.buttons__container {
    display: flex;
}

.buttons__container--header {
    position: relative;
    bottom: 45px;
    justify-content: center;
    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.btn-header {
    cursor: pointer;
    text-transform: uppercase;
    height: 46px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;

    color: #000000;
    border: 1px solid #000000;
    width: 130px;
    @include desk{
        width: 152px;
    }
}

.off {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.on {
    background-color: #ff6b08;
    color: #ffffff;
    border: none;
}

.btn-header:first-child{
    margin-right: 15px;
}

.myLib{
    @include less-tab {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-phone.png');
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
               background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-phone@2x.png');
        }
    }
    
     @include tab {
         width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-tab.png');
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-tab@2x.png');
        }
     }
    
    @include desk {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-pc.png');
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/lib-header-pc@2x.png');
        }
    }
}

.js-log-out-btn:hover{
    color: #ff6b08;
}

.js-log-in-btn:hover {
    color: #ff6b08;
}

.gallery-info{
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
    
}

.darkmode-toggle {
    z-index: 1;
}